BODY {
	BACKGROUND-IMAGE: url(../index_images/bg_body2.jpg); LINE-HEIGHT: 150%; BACKGROUND-COLOR: #515151; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #eee
}
TABLE {
	BORDER-BOTTOM-COLOR: #666; BORDER-TOP-COLOR: #666; BORDER-RIGHT-COLOR: #666; BORDER-LEFT-COLOR: #666
}
TD {
	BORDER-BOTTOM-COLOR: #999; PADDING-BOTTOM: 5px; BORDER-TOP-COLOR: #999; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #eee; BORDER-RIGHT-COLOR: #999; FONT-SIZE: 14px; BORDER-LEFT-COLOR: #999; PADDING-TOP: 5px
}
A {
	COLOR: #fff0d9; FONT-SIZE: 12px
}
.title {
	COLOR: #33ffff; FONT-SIZE: 12px
}
.td01 {
	BACKGROUND-IMAGE: url(../images/con_c_link3.gif)
}
HR {
	HEIGHT: 1px; COLOR: #666
}
.bt {
	BORDER-BOTTOM: #002d96 1px solid; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, 
            StartColorStr=#FFFFFF, EndColorStr=#9DBCEA); BORDER-LEFT: #002d96 1px solid; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; COLOR: black; FONT-SIZE: 12px; BORDER-TOP: #002d96 1px solid; CURSOR: hand; BORDER-RIGHT: #002d96 1px solid; PADDING-TOP: 2px
}
.org {
	COLOR: #fc0
}
.MK {
	BORDER-BOTTOM: #666 1px solid; MARGIN-BOTTOM: 10px
}
.MK P {
	PADDING-BOTTOM: 0px; MARGIN: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.MK OL {
	PADDING-BOTTOM: 3px; MARGIN: 5px 5px 5px 18px; PADDING-LEFT: 10px; PADDING-RIGHT: 3px; PADDING-TOP: 3px
}
