body {
  background-image: url(../index_images/bg_body2.jpg);
  line-height: 150%;
  background-color: #515151;
  background-attachment: fixed;
  background-repeat: repeat-x;
  font-family: Arial, Helvetica, sans-serif;
  color: #eee;
}
table {
  border-bottom-color: #666;
  border-top-color: #666;
  border-right-color: #666;
  border-left-color: #666;
}
td {
  border-bottom-color: #999;
  padding-bottom: 5px;
  border-top-color: #999;
  padding-left: 5px;
  padding-right: 5px;
  color: #eee;
  border-right-color: #999;
  font-size: 14px;
  border-left-color: #999;
  padding-top: 5px;
}
a {
  color: #fff0d9;
  font-size: 12px;
}
.title {
  color: #33ffff;
  font-size: 12px;
}
.td01 {
  background-image: url(../images/con_c_link3.gif);
}
hr {
  height: 1px;
  color: #666;
}
.bt {
  border-bottom: #002d96 1px solid;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, 
            StartColorStr=#FFFFFF, EndColorStr=#9DBCEA);
  border-left: #002d96 1px solid;
  padding-left: 2px;
  padding-right: 2px;
  color: black;
  font-size: 12px;
  border-top: #002d96 1px solid;
  cursor: hand;
  border-right: #002d96 1px solid;
  padding-top: 2px;
}
.org {
  color: #fc0;
}
.MK {
  border-bottom: #666 1px solid;
  margin-bottom: 10px;
}
.MK p {
  padding-bottom: 0px;
  margin: 5px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
.MK ol {
  padding-bottom: 3px;
  margin: 5px 5px 5px 18px;
  padding-left: 10px;
  padding-right: 3px;
  padding-top: 3px;
}
